.main-div {
    margin: 10px !important;
}

/* https://material.io/resources/icons/?style=baseline */

.example-action-buttons {
    padding-bottom: 20px;
    padding-top: 20px;
}

.accordion-headers-align .mat-expansion-panel-header-title,
.accordion--headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.accordion-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.accordion-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}
